[Unit]
Description=Cadvisor Daemon

[Service]
Restart=always
User=nobody
ExecStart=/usr/local/bin/cadvisor --port 9180

[Install]
WantedBy=multi-user.target
